body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.red {
	color: red;
}
.blue {
	color: green;
}

.name-colum {
	font-size:18px;
}
.well {
	background: #e4f4fc !important;
}
.order-comments {
	float: right;
}
.link-details {
	font-size: 18px;
	color: #000;
	margin-left: 10px;
}
.link-details:hover {
	color:blue;
}
.vote-up, .vote-down {

	color:green;
	margin-right: 10px;
}
.vote-down {

	color:red !important;
}
.add  {
	color:green;
	float: left;
	margin-top:-6px;
	margin-right: 5px;
	font-size: 30px;
}
.comments-count {
	float: right;
	color:gray;
}
.go-back {
	font-size: 30px;
}
.margin-right {
	font-weight: bold;
	margin-right: 10px;
}
.container-comments {
	margin-top: 20px;
	margin-left:20px;
}
.comment {
	
	background: #e4f4fc;
	padding: 5px;	
	border:1px solid #e3e3e3;
}
.edit-comment {
	float: right;
	margin-left: 10px;
}
.edit-comment a {
	color:inherit;
}
.red:hover {
	color:red;
}

.no-comments {
	background: #ded;
}
.information-no {
	text-align: center;
	border: 1px solid gray;
	background: #ffffe6;
	color:gray;
	margin-top: 4px;
	display: block;
}
.navigation {
	position: absolute;
	top:0;
	left: 0;
}
